@use '../../assets/styles';

.navbar {
    background-color: styles.$primary-green;
    height: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: styles.$primary-white;
  }
  
  .nav-menu {
    background-color: styles.$primary-green;
    width: 25rem;
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 8rem;
    left: -100%; 
    transition: 850ms;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem 0 ;
    list-style: none;
    height: 6rem;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 4px;
  }
  
  .nav-text :hover {
    background-color: styles.$hover-green;
    color: styles.$primary-green;
    border-radius: 45px;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  // .navbar-toggle {
  //   background-color: #00a86b;
  //   width: 100%;
  //   height: 80px;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   color: white;
  // }
  
  span {
    margin-left: 16px;
  }